*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  width: 30px;
  height: 29px;
}

.nav-item {
  margin-right: 20px;
}

.nav {
  height: 64px;
}

/* hero 1 */

#hero1 {
  height: 700px;
  background-image: url('');
  z-index: 0;
}

#content1 {
  margin-top: 79px;
}
#paragraf {
  margin-top: 30px;
}

#button {
  margin-top: 50px;
}

#slide {
  margin-top: 10px;
  width: 800px;
  /* position: center; */
  margin-left: 350px;
}

#browser {
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  #slide {
    margin-left: 0px;
  }
  #hero2 {
    position: relative;
    margin-top: -170px;
  }
}

/* hero2 */

#hero2 {
  height: 400px;
  background-color: #000000;
  /* margin-top: -30px; */
  position: relative;
}
